
body {
  font-family: 'Cabin', sans-serif;
  background-color: white;
  width: 100%;
  position: relative;
}

.nav {
  color: #333;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #64B5F6;
  overflow-x: scroll;
}


.nav .title:hover {
  background-color: inherit;
  cursor: default;
}

.nav .active {
  background-color: #64B5F6;
}

.nav li {
  background-color: white;
  display: inline;
  float: right;
  max-width: 20%;
}

.nav li a {
  float: left;
  text-decoration: none;
  display: block;
}

a {
  background-color: white;
  padding: 14px 18px;
  color: #333;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  background-color: #ddd;
}

.header {
  background-color: #64B5F6;
  color: white;
  padding: 3%;
  padding-top: 8%;
  display: block;
  text-align: center;
  width: 100%;
}

.item {
  display: block;
  clear: both;
}

.item div {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.text {
  width: 65%;
  float: right;
  margin-right: 10%;
}

.text a {
  display: block;
  width: 20%;
  border: 1px solid #64B5F6;
}

.graphics {

  width: 25%;
  float: left;
}

.graphics img {
  width:80%;
  height: 80%;
  background-color: #64B5F6;
  border-radius: 50%;
  padding:2%;
  margin: 2%;
}

.item .border {
  margin-top: 5%;
  margin-bottom: 5%;
  border-bottom: 2px solid #ddd;
  width: 100%;
}

.item:last-child .border {
  border-bottom: none;
  margin-bottom: 0%;
}


.feature a {
  text-align: center;
  padding: 3%;
  font-weight: bold;
  font-size: 10px;
  background-color: #ff8b8e;
  color: white;
  border: none !important;
  padding-right: 10%;
  padding-left: 10%;
}

.content {
  background-color: white;
  margin-top: 5%;
  padding: 3%;
  display: block;
  text-align: left;
  width: 100%;
}

.icons {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.icons img {
  width:30px;
  height: 30px;
  background-color: inherit;
}

.footer {
  color: #333;
  background-color:#64B5F6;
  padding: 3%;
  width: 100%;
  bottom: 0;
  font-size: 12px;
  border-top: 3px solid #64B5F6;
  overflow: hidden;
}

.footer ul {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer li {
  text-align: center;
  display: inline;
  border-right: 1px solid white;
}

.footer li:last-child {
  border-right: none;
}

.footer a:hover {
  background-color: inherit;
}

.footer a {
  background-color: #64B5F6;
}


.portfolio .project {
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 1px solid #eee;
  margin-top: 2%;
}

.portfolio .project:last-child {
  border-bottom: none;
}

.portfolio .skills {
  font-size: 13px;
  color: #ff8b8e;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 10%;
}

.project {
  clear: both;
}

.description {
  display: inline-block;
  float: left;
  width: 50% !important;
}

.img {
  width: 40% !important;
  display: inline-block;
  float: right;
  margin-top: 2%;
  margin-bottom: 2%;
}

.img img {
  width: 70%;
  max-height: 500px;
  display: inline;
}

form {
  width: 80%;
  display: inline-block;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ddd;
  border-radius: 4px;
}

input[type=submit] {
  width: 50%;
  border: 2px solid #64B5F6;
  background-color: white;
  cursor: pointer;
}


textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ddd;
  border-radius: 4px;
}

.interests {
  display: inline-block;
  width: 49%;
  min-width: 300px;
}

.content li {
  padding: 1%;
}

.contact {
  display: inline-block;
  width: 49%;
  min-width: 300px;
}
